# py
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env

# venv, env
venv/
env/
.venv/
.env/

# pdf
pdfs/

# set
Docker.txt

# Test files
**/tests/test_*.py
**/tests/results/
**/tests/results_rag_only/
**/test_*.py
*test_performance.py
check_*.py
explain_*.py
prove_*.py
copy_*.py

# JSON results
*.json
!.github/**/*.json